<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Resview</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!--link href="boot/assets/img/favicon.png" rel="icon">
  <link href="boot/assets/img/apple-touch-icon.png" rel="apple-touch-icon"-->



  <!-- Bootstrap CSS Files -->
  <link href="boot/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="boot/assets/vendor/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="boot/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="boot/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="boot/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">

  <!-- Bootstrap Main CSS File -->
  <link href="boot/assets/css/style.css" rel="stylesheet">
  <link href="../../public/boot/custom.css">


</head>

<body>

  <!-- ======= Property Search Section ======= -->
  <div class="click-closed"></div>
  <!--/ Form Search Star /-->
  <div class="box-collapse">
    <div class="title-box-d">
      <h3 class="title-d">Search Restaurant</h3>
    </div>
    <span class="close-box-collapse right-boxed ion-ios-close"></span>
    <div class="box-collapse-wrap form">
      <form class="form-a" action="/search" method="get">
        <div class="row">
          <div class="col-md-12 mb-2">
            <div class="form-group">
              <label for="Type">Restaurant Name</label>
              <input type="text" name="Restaurant_name" class="form-control form-control-lg form-control-a" placeholder="Restaurant_name">
            </div>
          </div>
         
          <div class="col-md-6 mb-2">
            <div class="form-group">
              <label for="city">City</label>
              <select class="form-control form-control-lg form-control-a" id="city" name="City">
                <option>Bamenda</option>
                <option>Buea</option>
                <option>Douala</option>
                <option>Bafoussam</option>
                <option>Yaounde</option>
              </select>
            </div>
          </div>
          </div>
          <div class="col-md-12">
            <input type="submit" value="Search">
            <!--button type="submit" class="btn btn-b">Restaurant</button-->
          </div>
        </div>
      </form>
    </div>
  </div><!-- End Property Search Section -->>

  <!-- ======= Header/Navbar ======= -->
  <nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top beri">
    <div class="container">
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <a class="navbar-brand text-bran h3" href="/home"><h3>Res<span class="color-b">View</h3></span></a>
      <button type="button" class="btn btn-link nav-search navbar-toggle-box-collapse d-md-none" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-expanded="false">
        <span class="fa fa-search" aria-hidden="true"></span>
      </button>
      <div class="navbar-collapse collapse justify-content-center" id="navbarDefault">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Towns
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/yaounde2">Yaounde</a>
              <a class="dropdown-item" href="/douala2">Douala</a>
              <a class="dropdown-item" href="/bamenda2">Bamenda</a>
              <a class="dropdown-item" href="/buea2">Buea</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>
        </ul>
      </div>
      <button type="button" class="btn btn-b-n navbar-toggle-box-collapse d-none d-md-block" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-expanded="false">
        <span class="fa fa-search" aria-hidden="true"></span>
      </button>
    </div>
  </nav><!-- End Header/Navbar -->

  

  <main id="main">

    
    
    
    
  <!--footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav class="nav-footer">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="#">Home</a>
              </li>
              <li class="list-inline-item">
                <a href="#">About</a>
              </li>
              <li class="list-inline-item">
                <a href="#">Contact</a>
              </li>
            </ul>
          </nav>
          
          <div class="credits">
            <!--
            All the links in the footer should remain intact.
            You can delete the links only if you purchased the pro version.
            Licensing information: https://bootstrapmade.com/license/
            Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=EstateAgency
          -->
           <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
          </div>
        </div>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="boot/assets/vendor/jquery/jquery.min.js"></script>
  <script src="boot/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="boot/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <!--script src="boot/assets/vendor/php-email-form/validate.js"></script-->
  <script src="boot/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="boot/assets/vendor/scrollreveal/scrollreveal.min.js"></script>

  <!-- Template Main JS File -->
  <script src="boot/assets/js/main.js"></script>

</body>

</html>